<% provide(:page_title, 'Sign up') %>
<%= form_for(@user, html: { class: 'form-signin' }) do |f| %>
  <h2 class="form-signin-heading">Sign up</h2>
  <%= render 'shared/error_messages' %>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name, class: 'form-control' %>
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name, class: 'form-control' %>
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control'  %>
  <%= f.submit "Create account", class: "btn btn-large btn-primary" %>
<% end %>
