<div id="matches" class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4"><strong>Local</strong></div>
      <div class="col-md-2"><strong>Score</strong></div>
      <div class="col-md-4"><strong>Visitor</strong></div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <ul class="list-group">
    <% @matches.each do |match| %>
        <li id="match_<%= match.id %>" class="list-group-item">
          <div class="row">
            <div class="col-md-12">
              <div class="row" id="teams_match_<%= match.id %>">
                <img src="<%= match.local_shield %>" class="team-shield col-md-1">
                <div class="local col-md-3"><%= match.local %></div>
                <div class="score col-md-2"> <%= match.local_goals %> - <%= match.visitor_goals %></div>
                <img src="<%= match.visitor_shield %>" class="team-shield col-md-1">
                <div class="visitor col-md-3"><%= match.visitor %></div>
                <div class="row" id="predictions_container">
                  <div class="col-md-10 col-md-offset-1">
                    <% predictions = match.predictions_for_tournament(@tournament)
                       users = predictions.map { |prediction| prediction.user.first_name }
                       puts "^^^^^^^^predictions for match: #{match.id}: #{predictions.inspect}"
                    %>
                    <%= react_component 'Predictions', {data: {
                        predictions: predictions, users: users,
                        tournament_id: @tournament.id, match_id: match.id}} %>
                  </div>
                </div>
              </div>
            </div>
        </li>
    <% end %>
  </ul>
</div>
