<div id="matches" class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4"><strong>Local</strong></div>
      <div class="col-md-2"><strong>Score</strong></div>
      <div class="col-md-4"><strong>Visitor</strong></div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <ul class="list-group">
    <% @matches.each do |match| %>
      <li id="match_<%= match.id %>" class="list-group-item">
        <div class="row" id="teams_match_<%= match.id %>">
          <div class="col-md-12">
            <div class="row">
              <div class="local col-md-4"><%= match.local %></div>
              <div class="score col-md-2"> <%= match.local_goals %> - <%= match.visitor_goals %></div>
              <div class="visitor col-md-4"><%= match.visitor %></div>
              <div id="edit_button_<%= match.id %>_cont"  class="col-md-2"><%= link_to "Add Prediction", "#{new_prediction_path}?match_id=#{match.id}&tournament_id=#{@tournament.id}",
                                                id: "edit_prediction_#{match.id}", class: "btn btn-primary btn-xs", remote: true %></div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped predictions_table">
                  <thead>
                  <tr>
                    <th>Player</th>
                    <th>Prediction</th>
                    <th>Points</th>
                  </tr>
                  </thead>
                  <tbody id="match_<%= match.id %>_predictions">
                  <tr>
                    <td>Jacob</td>
                    <td>1-2</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>3-0</td>
                    <td>5</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
