<h3><img src="<%= @tournament.league.flag_url_path %>" class="league-flag"><span><%= @tournament.name %></span> <span class="label label-default"><%= @tournament.league.name %></span></h3>

<%= render 'round_links' %>
<% if @total_group > 1 %>
  <div class="group-select">
    <select id='group' class="form-control" onchange="location.href = this.options[this.selectedIndex].value">
      <% for group in 1..@total_group %>
        <option <%= 'selected' if @group == group %> value="<%= tournament_path(@tournament) %>?group=<%= group %>&round=<%= @current_round %>">Group <%= group %></option>
      <% end %>
    </select>
  </div>
<% end %>

<%= render 'matches' %>

