<h1><%= @tournament.name %></h1>
<h2><%= @tournament.league.name %></h2>

<%= render 'round_links' %>
<div style="width:200px">
  <select id='group' class="form-control" onchange="location.href = this.options[this.selectedIndex].value">
    <% for group in 1..@total_group %>
      <option <%= 'selected' if @group == group %> value="<%= tournament_path(@tournament) %>?group=<%= group %>&round=<%= @current_round %>">Group <%= group %></option>
    <% end %>
  </select>
</div>

<%= render 'matches' %>

